/** GOOGLE FONTS **/

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
    background-color: #093145;
	width: 100%;
	text-align: center;
}

h1 {
    font-family: 'Gruppo', cursive;
}



