/** GOOGLE FONTS **/

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


header {
	display: block;
    background-color: #093145;
	width: 100%;
	text-align: center;
	height: 50px;
	margin: 0 auto;
	border-bottom: 2px solid #EBC944;
}

h1 {
    font-family: 'Gruppo', cursive;
	color: #EBC944;
	padding: 5px;
	letter-spacing: 5px;
	font-size: 36px;
}

nav {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

ul {
	list-style: none;

}

li {
	display: inline-block;
	margin: 10px 25px;

}

#mission-container {
	display: flex;
	width: 70%;
	margin: 50px auto;
	align-items: center;
	background-color: #f1f3f4;
	font-family: 'Quicksand', sans-serif;
}


#mission-container img {
	height: 250px;
	width: 350px;
	opacity: 0.7;
	border-right: 2px solid #093145;
}

#mission-container p {
	width: 450px;
	font-size: 20px;
	margin: 0 auto;

}

#mission {
	width: 600px;
	text-align: center;
	margin: 0 auto;
}

#services-container {
	width: 70%;
	margin: 40px auto;
	text-align: center;
	background-color: #f1f3f4;
	border: 2px solid #093145;
	font-family: 'Quicksand', sans-serif;

}

#services-container h2 {
	padding: 20px;
}

#service {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	
}

.service-tile img {
	height: 200px;
	width: 250px;
}

.service-tile {
	text-align: center;
	max-width: 250px;
	margin-bottom: 40px;
	
}

.service-tile p {
	display: inline-block;
	width: 100%;

}

#team-container {
	width: 100%;
	background-color: #093145;
	text-align: center;
	border-top: 3px solid #EBC944;
}

#team-container h2 {
	padding: 40px;
	color: #EBC944;
	font-family: 'Quicksand', sans-serif;
}

#members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-family: 'Quicksand', sans-serif;
}

.member-card {
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

.member-card img {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	border: 2px solid #EBC944;
}

footer {
	width: 100%;
	background-color: #f1f3f4;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

footer h4, p {
	padding: 10px;
	font-weight: bold;

}

#copyright {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width:480px) {

	header {
		height: 60px;
	}

	h1 {
		font-size: 24px;
		padding: 15px;
		
	}

	nav {
		width: 100%;
	}
	
	#image-text {
		display: none;
	}

	#mission-container {
		background-color: none;
		flex-direction: column;
		height: 450px;
		width: 350px;
	}

	#mission {
		width: 250px;
	}

	#mission-container img {
		border: none;
		margin: 0 auto;
	

	}

	#mission-container p {
		display: block;
		width: 270px;
		font-size: 15px;
		padding: 20px;
	}

	#services-container {
		width: 100%;
		border: none;
		border-top: 2px solid #093145;
	}

	#copyright {
		text-align: center;
	}

}




